h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#producto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
strong{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
